body{
    padding: 0%;
    margin: 0%;
    background-color: lightsteelblue;
}
p{
    position: absolute;
    top: 50px;
    padding: 1%;
    margin-left:2% ;
    margin-right: 50%;

}
img{
    position: absolute;
    top: 50px;
    padding: 1%;
    margin-left:50% ;
    margin-right: 2%;
}

a{
    position: fixed;
    bottom: 0%;
    right: 0%;
    border: 3px solid darkblue;
    padding: 1%;
    width: 90px;
    margin-right: 1%;
    background-color: yellow;
}