.image{
    border: 2px dotted darkblue;
    width: 60%;
    margin: 20%;
    padding: 0%;
    height: 40%;
    background-image: url("../images/image1.jpeg");
    border-radius: 15px;
}
.image:hover{
    background-image: url("../images/image2.jpeg");
}