div{
    position: absolute;
    width: 100px;
    background-color: lightgrey;
    margin-right: 60%;
}
div.p1{
    top: 300px;
    border:2px solid red ;
    left: 10%;

}
div.p2{
    top: 250px;
    border:2px solid green ;
    left: 15%;
}
div.p3{
    top: 200px;
    left: 20%;
    border:2px solid blue ;
}